.container {
    width: 100%;
    display: flex;
    column-gap: 1.5rem;
    font-size: 1.7rem;
    align-items: center;
    color: var(--color-text-light);
}

.barWrapper {
    width: 100%;
    border-radius: 10rem;
    background-color: var(--color-controls-light);
    height: 0.5rem;
    position: relative;
    overflow: hidden;
}

.bar {
    height: 100%;
    border-radius: 10rem;
    background-color: var(--color-text-light);
}