.layout {
    display: grid;
    width: 100%;
    max-width: 180rem;
    grid-template-columns: 1fr 25%;
    justify-self: center;
    padding: 10rem 2rem;
    gap: 4rem;
}

.wrapper {
    width: 100%;
    display: grid;
}